.m-2 {
    max-height: 1px;
    text-align: center;
    border: 2vw solid black;
    text-align: center;
}
.c1 {
    padding: 10vw;
    text-align: center;
}
.pluh {
    background-image: linear-gradient(rgb(255, 255, 255), white, rgb(151, 151, 151));
}
.sitee {
    text-align: center;
}